<html>
<body style="font-family: verdana;">
	<b><i><p align="center">
Student Profile
</p></i></b> 
<pre style="font-family: verdana">



            
		                                   Name : {{name}}
		
		                                 Gender : {{gender}}

		                               Roll No. : {{rollno}}

		                                 Branch : {{dept}}
	
		                          Date of Birth : {{dob}}

		                                    Age : 

		                                Contact : {{contact}}







		                             


</pre>
<br>
<br>
<a href="/student"><button>Go Back</button></a>
</body>
</html>
